doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mobile 375
        link(rel="stylesheet", href="styles/mobile.css")
    body
        .wrapper
            .container
                .dates
                    .first-date 
                        .date
                            .date__content
                                h2.date__title.date__title_year 1969
                                h3.date__text.first-date__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula erat sed lobortis sodales. Donec dictum id lacus id maximus.
                                img(src="./img/index/ellipse.png", alt="ellipse").date__elipse-img
                    .second-date
                        .vector 
                            img(src="img/index/points.png", alt="").vector__points
                            img(src="img/index/purple-elipse.png", alt="").vector__circle.vector__circle_one
                            img(src="img/index/purple-elipse.png", alt="").vector__circle.vector__circle_two
                            img(src="img/index/purple-elipse.png", alt="").vector__circle.vector__circle_three
                        .date.second-date__date
                            .date__content
                                h2.date__title.date__title_year 1997
                                h3.date__text.second-date__text Nulla in erat sit amet augue porta vulputate ac vel orci. Suspendisse quis velit eleifend.
                                img(src="./img/index/date-triangle.png", alt="triangle").date__triangle-img
                .third-date
                    img(src="./img/index/background-vector.png", alt="").background-vector-img
                    .date.third-date__content
                        .date__content
                            h2.date__title.date__title_year 2008
                            h3.date__text.third-date__text In luctus ipsum id enim molestie ornare. Donec eros augue, suscipit vel erat ac, convallis laoreet lectus.
                .oksford-box
                    img(src="img/mobile/oksford-mobile.png", alt="").oksford-box__img
            .text-box
                h3.text-box__text Curabitur sed dapibus ipsum. Curabitur vitae mollis ipsum. Sed molestie, nisl quis consectetur elementum, leo orci condimentum lacus, id dignissim erat justo nec ligula. Nam varius massa mauris, sit amet tempor dolor molestie eu. Nulla a faucibus libero. Nam tristique metus tempor fermentum ultricies. Donec molestie vel nunc et posuere.
                img(src="./img/index/logo.png", alt="logo").promo__logo
            .text-banner
                .date.text-banner__content
                    .date__content
                        h2.date__title.date_white-text 700
                        h3.date__text.date_white-text.text-banner__text Sed molestie, nisl quis consectetur elementum, leo orci condimentum lacus.
            .container
                .achieve
                    img(src="./img/index/trophy.png", alt="").achieve__trophy-img
                    img(src="./img/index/trophy.png", alt="").achieve__trophy-img
                    .achieve__container.achieve__container_mobile
                            a(href="#").achieve__link Lorem ipsum
            .background-wrapper
                .cards
                    a(href="#").card
                        .card__content
                            img(src="./img/index/texture.png", alt="").card__texture-img
                            h3.card__text In ultrices sem
                    a(href="#").card
                        .card__content
                            img(src="./img/index/texture.png", alt="").card__texture-img
                            h3.card__text Phasellus vel nibh finibus.
                    a(href="#").card
                        .card__content
                            img(src="./img/index/texture.png", alt="").card__texture-img
                            h3.card__text Nascetur ridiculus mus.
                    a(href="#").card
                        .card__content
                            img(src="./img/index/texture.png", alt="").card__texture-img
                            h3.card__text Vivamus euismod nunc, at pulvinar .
                    a(href="#").card
                        .card__content
                            img(src="./img/index/texture.png", alt="").card__texture-img
                            h3.card__text Etiam id vestibulum ex.
                    a(href="#").card.card-exit
                        .card__content
                            img(src="./img/index/arrow.png", alt="").card__arrow-img
                            h3.card__text Orci varius natoque penatibus
                