.background-vector-img {
	position: absolute;
	z-index: -1;
	left: -180px;
	top: -29px;
}
.background-wrapper {
	margin: 0 auto;
	background: rgb(244, 244, 244);
	background: linear-gradient(345deg, rgba(244, 244, 244, 1) 74.2%, rgba(255, 255, 255, 1) 74.2%);
	height: 700px;
	width: 768px;
}
